parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    universalObjectCratesClasses:
    	- Zend_Session_Namespace
    ignoreErrors:
        -
            identifier: missingType.iterableValue
